Repository unnitin/home-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hardcoded-paths, validate-plists

check-hardcoded-paths:
  name: Check for hardcoded user paths
  entry: bash -c 'if grep -r "/Users/" scripts/ setup/ --include="*.sh" | grep -v "/Volumes" | grep -v "# Example:"; then echo "Found hardcoded user paths"; exit 1; fi'
  language: system
  pass_filenames: false

validate-plists:
  name: Validate LaunchD plist files
  entry: bash -c 'find launchd/ -name "*.plist" -type f -exec plutil -lint {} \;'
  language: system
  pass_filenames: false

fix: Resolve test pipeline failures and add testing documentation
  docs/AUTOMATION.md
  tests/unit/test_script_validation.bats
  tests/unit/test_storage_utilities.bats
Due: none

fix: Resolve all test pipeline failures
  tests/unit/test_basic_validation.py
Due: none

fix: Final test pipeline resolution - content-based validation
  tests/unit/test_basic_validation.py
  tests/unit/test_script_validation.bats
Due: none

fix: Final BATS test resolution with execution-based approach
  scripts/media_processor.sh
  tests/unit/test_script_validation.bats
Due: check-hardcoded-paths

fix: XML encoding in LaunchD plist files
  launchd/io.homelab.colima.plist
  launchd/io.homelab.compose.immich.plist
  launchd/io.homelab.landing.plist
  launchd/io.homelab.plex.plist
  launchd/io.homelab.storage.plist
Due: validate-plists

fix: CI environment compatibility for media_processor.sh test
  scripts/media_processor.sh
  tests/unit/test_script_validation.bats
Due: check-hardcoded-paths

fix: Resolve test pipeline failures and add testing documentation (#10)
  docs/AUTOMATION.md
  launchd/io.homelab.colima.plist
  launchd/io.homelab.compose.immich.plist
  launchd/io.homelab.landing.plist
  launchd/io.homelab.plex.plist
  launchd/io.homelab.storage.plist
  scripts/media_processor.sh
  tests/unit/test_basic_validation.py
  tests/unit/test_script_validation.bats
  tests/unit/test_storage_utilities.bats
Due: check-hardcoded-paths, validate-plists

docs: Update main scripts README for modular architecture
  scripts/README.md
Due: none

test: Add comprehensive high-priority system recovery tests
  tests/e2e/test_critical_system_recovery.bats
  tests/e2e/test_failure_scenarios.bats
  tests/e2e/test_setup_workflows.bats
  tests/integration/test_module_integration.bats
  tests/security/test_security_validation.bats
Due: none

fix: Update documentation validation for modular script structure
  .github/workflows/test.yml
Due: none

fix: Resolve integration test failures after modular refactoring
  scripts/core/health_check.sh
  scripts/storage/lib/raid_common.sh
  tests/security/test_security_validation.bats
Due: check-hardcoded-paths

fix: Resolve integration test failures after modular refactoring (#12)
  scripts/core/health_check.sh
  scripts/storage/lib/raid_common.sh
  tests/security/test_security_validation.bats
Due: check-hardcoded-paths

fix: Correct regex syntax in health check recovery test
  tests/e2e/test_critical_system_recovery.bats
Due: none

Fix/integration test failures (#13)
  tests/e2e/test_critical_system_recovery.bats
Due: none

feat: Complete NVMe faststore migration with optimized three-tier architecture
  MIGRATION-FINDINGS.md
  docs/STORAGE.md
  fix_immich.sh
  scripts/README.md
  scripts/migration/README.md
  scripts/migration/lib/migration_common.sh
  scripts/migration/migrate.sh
  scripts/migration/service_data_migration.sh
  scripts/migration/storage_tier_migration.sh
  scripts/storage/format_and_mount.sh
  scripts/storage/setup_service_symlinks.sh
  services/immich/docker-compose.yml
Due: check-hardcoded-paths

Fix all E2E test issues and hanging interactive prompts
  USER-SETUP-GUIDE.md
  scripts/storage/setup_direct_mounts.sh
  tests/e2e/test_critical_system_recovery.bats
  tests/e2e/test_failure_scenarios.bats
  tests/e2e/test_setup_workflows.bats
  tests/e2e/test_shutdown_recovery.bats
  tests/integration/test_service_dependencies.bats
  tests/unit/test_basic_validation.py
  tests/unit/test_script_validation.bats
  tests/unit/test_storage_utilities.bats
Due: check-hardcoded-paths

Add missing scripts to documentation
  scripts/README.md
  scripts/core/README.md
  scripts/services/README.md
Due: none

documentation update
  ADMIN-GUIDE.md
  ENVIRONMENT.md
  README.md
  USER-GUIDE.md
  diagnostics/README.md
  docs/AUTOMATION.md
  docs/ENVIRONMENT.md
  docs/IMMICH.md
  docs/RECOVERY.md
  docs/SETUP.md
  docs/STORAGE.md
  docs/TROUBLESHOOTING.md
  setup/README.md
Due: none

fix: Update Immich paths to use standard folder structure
  services/immich/docker-compose.yml
Due: none

fix: Change LaunchD log paths from external storage to local /tmp/
  launchd/io.homelab.colima.plist
  launchd/io.homelab.compose.immich.plist
  launchd/io.homelab.landing.plist
  launchd/io.homelab.media.watcher.plist
  launchd/io.homelab.plex.plist
  launchd/io.homelab.powermgmt.plist
  launchd/io.homelab.storage.plist
  launchd/io.homelab.tailscale.plist
  launchd/io.homelab.updatecheck.plist
  scripts/automation/configure_launchd.sh
Due: check-hardcoded-paths, validate-plists

fix: Standardize Colima LaunchD plist to match working service pattern
  launchd/io.homelab.colima.plist
Due: validate-plists

documentation update (#16)
  ADMIN-GUIDE.md
  ENVIRONMENT.md
  README.md
  USER-GUIDE.md
  diagnostics/README.md
  docs/AUTOMATION.md
  docs/ENVIRONMENT.md
  docs/IMMICH.md
  docs/RECOVERY.md
  docs/SETUP.md
  docs/STORAGE.md
  docs/TROUBLESHOOTING.md
  setup/README.md
Due: none

cleanup: Remove Immich docker-compose backup file
  services/immich/docker-compose.yml.backup
Due: none

fix: Improve test robustness for multi-line XML log path detection
  tests/e2e/test_critical_system_recovery.bats
  tests/e2e/test_shutdown_recovery.bats
  tests/e2e/test_shutdown_recovery.py
  tests/integration/test_service_dependencies.bats
Due: none

Fix/launchd external storage logs (#17)
  launchd/io.homelab.colima.plist
  launchd/io.homelab.compose.immich.plist
  launchd/io.homelab.landing.plist
  launchd/io.homelab.media.watcher.plist
  launchd/io.homelab.plex.plist
  launchd/io.homelab.powermgmt.plist
  launchd/io.homelab.storage.plist
  launchd/io.homelab.tailscale.plist
  launchd/io.homelab.updatecheck.plist
  scripts/automation/configure_launchd.sh
  services/immich/docker-compose.yml
  services/immich/docker-compose.yml.backup
  tests/e2e/test_critical_system_recovery.bats
  tests/e2e/test_shutdown_recovery.bats
  tests/e2e/test_shutdown_recovery.py
  tests/integration/test_service_dependencies.bats
Due: check-hardcoded-paths, validate-plists

feat: Enhanced Google Photos takeout import with metadata preservation
  scripts/services/import_takeout.sh
  scripts/takeout/DOCUMENTATION.md
  scripts/takeout/README.md
  scripts/takeout/TEST-RESULTS.md
  scripts/takeout/enhanced_takeout_import.py
  scripts/takeout/enhanced_takeout_import.sh
  scripts/takeout/requirements.txt
Due: check-hardcoded-paths

feat: enhance Google Photos takeout import with robust installation and HEIC support
  scripts/services/README-TAKEOUT.md
  scripts/takeout/enhanced_takeout_import.sh
  scripts/takeout/requirements.txt
Due: check-hardcoded-paths

Add Jellyfin media server integration
  docs/JELLYFIN.md
  launchd/README.md
  launchd/io.homelab.jellyfin.plist
  scripts/automation/configure_launchd.sh
  scripts/services/README.md
  scripts/services/configure_jellyfin.sh
  scripts/services/install_jellyfin.sh
  scripts/services/start_jellyfin_safe.sh
  setup/setup_flags.sh
  setup/setup_full.sh
  web/index.html
Due: check-hardcoded-paths, validate-plists

Fix documentation: Add Jellyfin and Takeout scripts to main README
  scripts/README.md
Due: none

Google takeout import (#18)
  docs/JELLYFIN.md
  launchd/README.md
  launchd/io.homelab.jellyfin.plist
  scripts/README.md
  scripts/automation/configure_launchd.sh
  scripts/services/README-TAKEOUT.md
  scripts/services/README.md
  scripts/services/configure_jellyfin.sh
  scripts/services/import_takeout.sh
  scripts/services/install_jellyfin.sh
  scripts/services/start_jellyfin_safe.sh
  scripts/takeout/DOCUMENTATION.md
  scripts/takeout/README.md
  scripts/takeout/TEST-RESULTS.md
  scripts/takeout/enhanced_takeout_import.py
  scripts/takeout/enhanced_takeout_import.sh
  scripts/takeout/requirements.txt
  setup/setup_flags.sh
  setup/setup_full.sh
  web/index.html
Due: check-hardcoded-paths, validate-plists

Fix security test: Improve credential detection to avoid false positives
  tests/security/test_security_validation.bats
Due: none

Add CLAUDE.md with Claude Code behavior directives
  CLAUDE.md
Due: none

Google takeout import (#19)
  CLAUDE.md
  tests/security/test_security_validation.bats
Due: none

cleanup: doc hygiene fixes from CLEANUP.md spec
  CLAUDE.md
  ENVIRONMENT.md
  README-QUICKSTART.md
  README.md
  docs/ADMIN-GUIDE.md
  docs/CLEANUP.md
  docs/MCP.md
  docs/USER-GUIDE.md
  docs/USER-SETUP-GUIDE.md
Due: none

cleanup: doc hygiene fixes from CLEANUP.md spec (#20)
  CLAUDE.md
  ENVIRONMENT.md
  README-QUICKSTART.md
  README.md
  docs/ADMIN-GUIDE.md
  docs/CLEANUP.md
  docs/MCP.md
  docs/USER-GUIDE.md
  docs/USER-SETUP-GUIDE.md
Due: none

Path conditions:
  check-hardcoded-paths: any of: \.(sh|bash)$
  validate-plists: any of: \.plist$
